@charset "UTF-8";

/* 
   共通 
*/

/*  日本語フォント  */
.ft-zm{
	font-family: "Zen Maru Gothic", serif;
	font-weight: 400;
	font-style: normal;
}
.ft-zm.medium{
	font-weight: 500;
}
.ft-zm.bold{
	font-weight: 900;
}
/*  英字フォント  */
.ft-nn{
	font-family: "Nunito", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.ft-nn.bold{
	font-weight: 800;
}
/*  余白  */
br.br30h{
	display:inline-block;
	height:30px;
}
/*  中央寄せ  */
.ta-center{
	text-align: center;
}
/*  pc/sp切り替え  */
.sp-hide{
	display:none;
}
.pc-hide{
	display:block;
}
@media screen and (min-width: 421px){
	.sp-hide{
		display:block;
	}
	.pc-hide{
		display:none;
	}
}


html {
    width: 100%;
}
body{
	margin:0 auto;
}
body.fade-container {
	display: none;
}
.section {
	padding: 70px 20px 50px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

/*   header   */
.header {
	width:100%;
	height: 50px;
	box-sizing: border-box;
	background: #26a1ab;
	padding: 10px;
	position: fixed;
	left: 0;
	top: 0;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.header h1{
	font-size: 1.2em;
	line-height: 1.5;
	margin: 0;
}
.header h1:before{
	content:"";
	
	background-image:url('../images/icon.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size:contain;
	
	display:block;
	width:30px;
	height:30px;
	float:left;
	margin-right:8px;
}
.header h1 a {
	color: #fff;
    text-decoration: none;
}
/*   footer   */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: #26a1ab;
    color: #fff;
    text-align: center;
    font-size: .7em;
	z-index: 1;
}
.footer button.Btn{
	position: absolute;
	bottom: 10px;
	right: 10px;
	
	display: none;
	width: 50px;
	height: 50px;
	background: #f496bf;
	color: #fff;
	font-size: 2em;
	border: none;
	border-radius: 100%;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

/* 
   一覧ページ
*/

.mv {
    overflow: hidden;
}
.mv img{
	width: 100%;
	border-radius: 10px;
}
.mv-under {
    text-align: center;
    line-height: 1;
    margin: 20px auto 50px;
}

.wrapper {
    display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top:20px
}
.wrapper .cell{
	position: relative;
	display:block;
	width:calc(93% / 2);
	margin-bottom: 10px;
}
.wrapper .cell:before {
	content: "";
	display: block;
	position: absolute;
	left: -5px;
	top: -3px;
	border-radius: 0 10px 10px 0;
	color: #fff;
	padding: 5px 0.5em;
	font-size: 0.8em;
	line-height: 1;
}
/*ソート切り替え時にふわっと表示*/
.wrapper .cell.fade-in {
  opacity: 0;
  animation: fadeIn 0.8s ease-in forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.wrapper .cell.horror:before{
	content: "ホラー";
	background:#c13240;
}
.wrapper .cell.suspense:before{
	content: "サスペンス";
	background:#a356ae;
}
.wrapper .cell.musical:before{
	content: "ミュージカル";
	background:#c1387a;
}
.wrapper .cell.war:before{
	content: "戦争";
	background:#798897;
}
.wrapper .cell.fantasy:before{
	content: "ファンタジー";
	background:#6573cf;
}
.wrapper .cell.anime:before{
	content: "アニメ";
	background:#6ec132;
}
.wrapper .cell.sciencefiction:before{
	content: "SF";
	background:#0097c5;
}
.wrapper .cell.other:before{
	content: "その他";
	background:#c1b532;
}

.wrapper .cell a {
    text-decoration: none;
}
.wrapper .cell .thmb{
	display:block;
	width:100%;
	margin-bottom: -8px;
}
.wrapper .cell .thmb img {
    width: 100%;
}
.wrapper .cell .name {
    display: block;
    background: #000;
    color: #fff;
	text-align: right;
	font-size: .8em;
	line-height: 2.1;
	padding-right: .5em;
}
.wrapper .cell .rating {
    color: #494fa2;
    text-align: right;
}
/* 
  detailページ
*/
.detail-cell {
    line-height: 3;
    border-bottom: #aaa dotted 1px;
}
.detail-cell.image{
	height: 300px;
	border-bottom: none;
	margin-bottom: 25px;
	padding: 10px;
	background-image: linear-gradient(180deg, rgba(85, 85, 85, 1), rgba(0, 0, 0, 1));
}
.detail-cell.image img {
	display: block;
    height: 100%;
	margin: 0 auto;
}
.detail-cell.summary,
.detail-cell.review {
    padding: 10px 0;
    line-height: 1.8;
}
.detail-cell .subTitle {
    display: block;
	margin-bottom: 10px;
}
.transitions {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.transitions div{
	display: block;
	height: 110px;
	width: 110px;
	border-radius: 55px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
	
	background-repeat: no-repeat;
	background-position: top 19px center;
	background-size: 50px;
}
.transitions div a{
	display:block;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.transitions div a,
.transitions div form input{
	color:#fff;
	text-align:center;
	font-size: 0.8em;
	line-height: 13;
}

.transitions div.delete{
	background-image:url('../images/delete.svg');
	background-color: #494fa2;
}
.transitions div.delete form input {
	width: 100%;
	height: 100%;
	cursor:pointer;
    border: none;
	background-color: rgba(0, 0, 0, 0);
}
.transitions div.edit{
	background-image:url('../images/edit.svg');
	background-color:#888;
}
.transitions div.back{
	background-image:url('../images/back.svg');
	background-color:#26a1ab;
}

/* 
  ログイン・メニューページ
*/
section form.login {
	    width: 80%;
	    margin: 0 auto;
}
section form.login input {
    line-height: 1.8;
    border: 1px solid #aaa;
    border-radius: 10px;
    margin-bottom: 10px;
}
section form .loginBtn input {
	display: block;
	margin: 10px auto 0;
	background: #26a1ab;
	color: #fff;
	padding: 10px 20px;
	border: none;
}
.menu_wrapper .cell {
	overflow: hidden;
    display: block;
    height: 60px;
    background: #26a1ab;
    margin-bottom: 20px;
    border-radius: 30px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.menu_wrapper .cell a,
.menu_wrapper .cell input{
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-align:center;
	color: #fff;
	font-size: 1.5em;
	line-height: 2.4;
}
.menu_wrapper .cell input {
    border: none;
	background: #26a1ab;
}
/* 
  新規登録・編集ページ
*/
.form-wrapper tr{
	display:flex;
	border-bottom: 1px dotted #aaa;
	line-height: 3;
}
.form-wrapper tr th{
	width: 25%;
	background: #eee;
	font-size: 0.8em;
	line-height: 4;
}
.form-wrapper tr th small {
    display: block;
    margin-top: -30px;
}
.form-wrapper tr td{
	width:75%;
	padding-left: 1em;
}
.form-wrapper tr td input,
.form-wrapper tr td textarea {
    border: 1px solid #aaa;
    border-radius: 5px;
    line-height: 1.8;
    width: 100%;
}
.form-wrapper tr.radio td label{
	display:block;
	line-height: 1.7;
}
.form-wrapper tr.radio td label input{
	width:auto;
}
.form-wrapper tr td textarea{
	margin-top: 15px;
}
.submit input {
    display: block;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    background: #83b3e0;
    color: #fff;
    font-size: 1.2em;
    margin: 10px auto 0px;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
.transitions.edit {
	margin: 40px auto 30px;
    justify-content: center;
}


@media screen and (min-width: 421px){
	/* 
	   共通 
	*/
	html{
		background-color: #ffe9c7;
		background-image: url(/images/bg.png);
		background-position: left top;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	body{
		background:#fff;
		
		width:75vw;
		min-width:300px;
		max-width:900px;
	}
	/*   footer   */
	.footer button.Btn{
		transition-duration: 0.3s;
	}
	.footer button.Btn:hover{
		opacity:.7;
		transition-duration: 0.3s;
	}
	
	/* 
	  一覧ページ
	*/
	h2.title:before{
		content:url(../images/movie.svg);
		display:block;
		width: 35px;
		float: left;
		margin: -3px 5px 0 0;
	}
	.wrapper .cell {
	    width: calc(93% / 3);
	    margin-bottom: 10px;
		transition: opacity 0.3s ease;
	}
	.wrapper .cell:hover{
		opacity:.7!important;
	}
	/* 
	  detailページ
	*/
	.detail-cell.image {
	    height: 450px;
	}
	.transitions div{
		transition-duration: 0.3s;
	}
	.transitions div:hover{
		opacity:.7;
		transition-duration: 0.3s;
	}
	/* 
	  ログイン・メニューページ
	*/
	section form.login {
		width: 31%;
		transition-duration: 0.3s;
	}
	section form.login:hover{
		opacity:.7;
		transition-duration: 0.3s;
	}
	
	.menu_wrapper {
	    display: flex;
		justify-content:space-between;
	}
	.menu_wrapper .cell{
		width:calc(95%/3);
	}
	.menu_wrapper .cell a,
	.menu_wrapper .cell input{
		transition-duration: 0.3s;
	}
	.menu_wrapper .cell a:hover,
	.menu_wrapper .cell input:hover{
		transform: scale(.9);
		opacity:.7;
		transition-duration: 0.3s;
	}
	
	/* 
	  新規登録・編集ページ
	*/
	table.form-wrapper {
	    width: 95%;
	}
	.submit input{
		transition-duration: 0.3s;
	}
	.submit input:hover{
		opacity:.7;
		transition-duration: 0.3s;
	}
	.transitions {
	    width: 60%;
	}
}