<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common :: common-head('映画鑑賞記録 一覧')"></head>
<body>
	<header th:replace="common :: header"></header>
	
	<section class="section">
		<!--完了アラート-->
		<p th:if="${message}" th:text="${message}" style="color:#00a">完了メッセージ</p>
		<!--エラーアラート-->
		<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:#700">エラーメッセージ</p>
		
		<div class="mv">
			<img class="pc-hide" th:src="@{/images/mv_sp.png}" alt="top sp画像">
			<img class="sp-hide" th:src="@{/images/mv_pc.png}" alt="top pc画像">
		</div>
		<p class="mv-under ft-zm" id="here">あの日観たシーンを忘れる前に。</p>
		
		<hr>
		<h2 class="title ft-nn bold">Reviews List</h2>
		
		<!--ソートタブ-->
		<form method="get" action="#here">
			<label for="sort"><span class="ft-zm">並び順：</span></label>
			<select name="sort" id="sort" onchange="this.form.submit()">
				<option value="">-- 選択してください --</option>
				<option value="id" th:selected="${param.sort == 'id'}">登録が新しい順</option>
				<option value="id_asc" th:selected="${param.sort == 'id_asc'}">登録が古い順</option>
				<option value="rating" th:selected="${param.sort == 'rating'}">評価（高い順）</option>
				<option value="rating_asc" th:selected="${param.sort == 'rating_asc'}">評価（低い順）</option>
			</select>
		</form>
		
		<div class="wrapper">
			<div class="cell" th:each="movie : ${movies}"
			th:classappend="${movie.genre == 'ホラー' ? 'horror'  
							: (movie.genre == 'サスペンス' ? 'suspense' 
							: (movie.genre == 'ミュージカル' ? 'musical'
							: (movie.genre == '戦争' ? 'war'
							: (movie.genre == 'ファンタジー' ? 'fantasy'
							: (movie.genre == 'アニメ' ? 'anime'
							: (movie.genre == 'SF' ? 'sciencefiction'
							: (movie.genre == 'ほのぼの' ? 'honobono'
							: (movie.genre == 'その他' ? 'other'
							: 'default'))))))))}">
			
				<a th:href="@{/movie/{id}(id=${movie.id})}">
					<div class="thmb"><img th:if="${movie.image}" th:src="@{${movie.image}}"></div>
					<div class="name" th:text="${movie.title}"></div>
					<div class="rating">
					    <span th:each="i : ${#numbers.sequence(1, 5)}" 
					          th:text="${i <= movie.rating ? '★' : '☆'}"></span>
					</div>
				</a>
			</div>
		</div>
		
	</section>
	<footer th:replace="common :: footer"></footer>
</body>
</html>